<%- include ('components/adminHeader.ejs') -%>
<title>Read Article</title>

    <style>
        body {
            /* background-color: rgba(0, 0, 0, 0.719); */
            background-image: linear-gradient(#ffc41263, rgba(255, 255, 255, 0.089));
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>
    <div style="margin: 50px; ">

        <div>
            <h1 class="text-center" style="margin-top: 50px; border-bottom: double;">
                <%= article.title %>
            </h1>

        </div>

        <div>
            <h6 class="text-center">
                <%= article.description %>
            </h6>

        </div>

        <div style="margin: 40px 20px;">
            <img src="/uploads/<%= article.imgname %>" alt="" style="max-width: 500px; max-height: 500px;">

        </div>


        <div>
            <p style="margin-bottom: 50px; color: black;">
                <%= article.content %>
            </p>

        </div>

    </div>

    <%- include('components/footer.ejs') -%>